/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --text-color: #242526;
    --footer-color: #242526;
    --fotertextmode: #E4E9F7;
}

body{
    height: auto;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #000000;
    --text-color: #E4E9F7;
    --footer-color: #242526;
    --fotertextmode: #E4E9F7;
}
.textmode {
    color: var(--text-color);
}

.footermode {
    background-color: var(--footer-color);
    color: var(--footer-color);
}
.footertextmode {
    color: var(--fotertextmode);
}


/* profile */
  .image--cover {
    width: 180px;
    height: 180px;
    border-radius: 50%;

    object-fit: cover;
    /* object-position: center right; */
  }
/* end profile */




/* ============================================================ */
/* card show photo */
.image-card {
    width: auto;
    height: auto;
    max-height: 700px;
    max-width: 100%;
    /* object-fit: cover; */
}
.card-containers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* share to social media */
.social-btn-sp #social-links {
    position: relative;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.social-btn-sp #social-links ul {
    justify-content: center;
    padding: 0;
}
.social-btn-sp #social-links ul li {
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.social-btn-sp .fab, .fa-brands {
    font-family: 'Font Awesome 6 Brands';
    width: 25px;
}
.social-btn-sp #social-links ul li a {
    padding: 6px;
    border: none;
    border-radius: 50%;
    background-color: #E4E9F7;
    color: #071e3d;
    margin: 3px;
    font-size: 18px;
    align-items: center;
}
.social-btn-sp #social-links ul li a:hover {
    padding: 6px;
    background-color: #071e3d;
    color: white;
    margin: 3px;
    font-size: 18px;
    align-items: center;
}

/*  */

@media screen and (max-width: 1000px) {
    .hide-on-small {
      display: none;
    }
  }
  @media screen and (min-width: 1000px) {
    .hide-on-big {
      display: none;
    }
  }
