
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}
:root{
    --body-color: #E4E9F7;
    --nav-color: #fff;
    --side-nav: #E4E9F7;
    --text-color: #071e3d;
    --search-bar: #071e3d;
    --search-text: #fefeff;
    --inputbtn: #E4E9F7;
}

body{
    height: 100vh;
    display: auto;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #071e3d;
    --text-color: #fefeff;
    --search-bar: #071e3d;
    --inputbtn: #E4E9F7;
}
.card {

    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    position: relative;
    padding: 0px;
    margin: auto;
    margin-top: 0px;
    height: auto;
    max-width: 1000px;
    background-color: var(--nav-color);
    display: flex;
}
form {
    padding: 30px;
    width: 100%;
    display: block;
}

.formtext input {
    width: 100%;
    height: 50px;
    background-color: var(--inputbtn);

}
.formtext input:active {
    width: 100%;
    height: 50px;
    background-color: var(--side-nav);
}

body.dark nav{
    border: 1px solid #393838;
}
